/*
 * local.css
 * @author: cylgalad <cylgalad@gmail.com>
 */

html,body {
    height: 100%;
    font-family: "Fira Sans", "Dejavu Sans", Roboto, Verdana, sans-serif;
}

/* Overflow correctly */
.ovfl {
  overflow: auto;
  overflow-wrap: break-word;
}

.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.fileUpload .upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#statusBar {
    font-size: 22px;
    height: 28px;
    background-color: #bbb;
    color: black;
}

.ace_status-indicator {
    color: black;
    position: absolute;
    right: 16px;
    height: 28px;
    border-left: 1px solid;
}
